<div class="wrapper">
    <div class="page-header clear-filter" filter-color="#41414B">
        <div class="page-header-image rellax-header okta-logo" data-rellax-speed="-7"
            style="background-image: url('assets/img/turq_back.png');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <a class="okta-logo"><img src="assets/img/okta-japan.png" alt=""></a>
                <a routerLink="/login" class="btn btn-primary btn-round btn-lg btn-block">Okta上のユーザープロファイル情報を参照する</a>
            </div>
        </div>
    </div>
    <div class="main">
    </div>
    

</div>