/* .login-form, .csm-banner{
    color: #00297A;
    text-align: center!important;
    align-items: center!important;
    background-color: white;
    padding: 10px;
    z-index: 1!important;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    overflow: auto;
    border-radius: 3px;
    box-sizing: border-box;
    height: 400px;
    width: 600px;
  } */
  
  .login{
    font-family: "ABCWhyte Book","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif!important;
    margin-top: 80px;
  }
  
  .okta-logo-head{
    width: 40%!important;
    height: 40%!important;
    display: inline-flex;
    
  }

  .login-form{
    /* background: #D7D7DC; */
    width: auto;
    text-align: center;
    align-items: center;
  }

  