<div class="wrapper">
    <div class="page-header clear-filter" filter-color="#41414B">
        <div class="page-header-image rellax-header okta-logo" data-rellax-speed="-7"
            style="background-image: url('assets/img/utsukushi.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1>{{strWelcome}} {{UserEmail}} {{strSan}}</h1>
                <div class="flexcontainer" fxLayout="row" fxLayoutAlign="start">
                    <div class="item item1 fullname">
                        <a class="field-lb"> 名前 :</a> <br> <a class="field-value">{{UserFullName}}</a>
                         <p></p>
                         <a class="field-lb"> メールアドレス :</a> <br> <a class="field-value">{{strEmailAddress}}</a>
                         <p></p>
                         <a class="field-lb"> OKTAユーザーID :</a> <br> <a class="field-value">{{UserID}}</a>
                         <p></p>
                         <a class="field-lb"> 国 :</a> <br> <a class="field-value">{{UserCountry}}</a>
                         <p></p>
                         <a class="field-lb"> 有効なMFA :</a> <br> <a class="field-value">{{MyMFA}}</a>

                    </div>
                    <div class="item item2" ><img class="okta-logo" src="assets/img/okta-japan.png" alt=""></div>
                     
                </div>
            </div>
        </div>
    </div>
    <div class="main">
    </div>
    

</div>