<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.okta.com/jp/company/"  target="_blank">会社情報</a></li>
                    <li><a href="https://status.okta.com/"  target="_blank">システムステータス</a></li>
                    <li><a href="https://www.okta.com/jp/privacy-policy/"  target="_blank">プライバシー</a></li>
                    <li><a href="https://developer.okta.com/"  target="_blank">開発者サイト</a></li>
                    <li><a href='https://github.com/mortpanda/ciam-angular-portal-profile' target="_blank">
                        <li><img alt="Link to Github repo" src='assets/img/GitHub_Logo.png' class="github_logo">
                            Link to Github repo</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{strDate | date: 'yyyy'}}, Okta. All rights reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
